body {
    margin: 0;
    color: #eee; 
    cursor: none;
}

.conteudo {
    display: flex;
    height: 100%;
    font-family: Consolas, 'Courier New', Courier, monospace;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    text-justify: inter-word;
    padding: 0 50px;
    backdrop-filter: brightness(85%);
}

.g {
    font-weight: 700;
    font-size: 200%;
}

.gg {
    font-weight: 700;
    font-size: 400%;
}

.mono {
    letter-spacing: 10px;
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.serif {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
    text-align: center;
}

.xg {
    font-weight: 700;
    font-size: 550%;
}

#hint {
    margin-top: 50px;
}

.absolute {
    position: absolute;
    padding: 0;
    margin: 0;
}

#roxao, #verdao, #vermeiao, #azulao {
    position: absolute;
    overflow: hidden;
    transition: all 0;
}

#roxao, #roxao video{
    background-color: #7100AE;
    top: 0;
    left: 0;
}
#verdao, #verdao video{
    background-color: #3DAE00;
    top: 0;
    right: 0;
}
#vermeiao, #vermeiao video{
    background-color: #AE1A00;
    bottom: 0;
    left: 0;
}
#azulao, #azulao video{
    background-color: #0094AE;
    bottom: 0;
    right: 0;
}

#regiao-central {
    width: 50vw;
    height: 50vh;
    top: 25vh;
    left: 25vw;
    z-index: 10;
}

.title {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.pagina-inteira {
    width: 100vw;
    height: 100vh;
}

.regioes {
    transition: all 0;
    overflow: hidden;
    height: 50%;
    width: 50vw;
}

ul {
    list-style-type: none;
}

.full {
    transition: all .2s ease-in-out;
    z-index: 5;
}

.conteudo {
    opacity: 0;
}

.preview {
    display: block;
}

.preview video {
    position: absolute;
    filter: blur(4px);
    min-width: 75vw;
    opacity: .85;
    width: 100%;
}

.full .conteudo {
    opacity: 1;
    transition: all 2s, filter 4s;
}

.full .preview video {
    z-index: -1;
    min-width: 100vw;
    transition: all .6s, filter .8s ease-out;
    opacity: .5;
}